.cancel-button {
  all: unset;
  background-color: #921414;
  border: 1px solid;
  border-color: #000000;
  border-radius: 15px;
  box-sizing: border-box;
  height: 85px;
  position: relative;
  width: 213px;
}

.cancel-button .text-wrapper {
  color: #d9d9d9;
  font-family: "Merge One-Regular", Helvetica;
  font-size: 48px;
  font-weight: 400;
  left: 33px;
  letter-spacing: 0;
  line-height: normal;
  mix-blend-mode: overlay;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
  width: 146px;
}

.cancel-button:hover {
  background-color: #b60f0f;
}
